// Box Shadow
.shadow-lg {
	@extend %shadow-lg;
}

.shadow {
	@extend %shadow;
}

.shadow-hover {
	@extend %shadow;
	@extend %transition;

	&:hover {
		@extend %shadow-lg;
	}
}

.shadow-only-hover {
	&:hover {
		@extend %shadow-lg;
	}
}

// Top hover
.top-hover {
	position: relative;
	top: 0;
	@extend %transition;

	&:hover {
		top: -10px;
	}

	@include hover-focus {
		&.btn {
			top: -6px;
		}
	}
}
