// Blog Cards
.blog-item {
	background: $white;
	border-radius: $border-radius;
	overflow: hidden;
	position: relative;
	border: 1px solid rgba($dark, 0.10);
	width: 100%;
	max-width: 350px;
	margin: auto auto 1rem auto;
  @extend %transition;

	&:hover {
		.blog-img {
			img {
				transform: scale(1.15);
			}

			.blog-data {
				right: 1rem;
			}
		}
	}

	.blog-img {
		position: relative;
		overflow: hidden;
		min-height: $blog-img-height;
		background: $blog-img-bg;

		img {
			transform: scale(1);
      @extend %transition;
		}
	}

	.category {
    position: absolute;
    top: $blog-category-position;
    left: $blog-category-position;
    z-index: 1;
		font-size: $blog-category-size;
		padding: $blog-category-padding;
    letter-spacing: .5px;
		text-transform: uppercase;
	}

	.blog-data {
		color: $dark;
		position: absolute;
		right: -4rem;
		bottom: 10px;
		text-align: center;
		font-size: 14px;
		@extend %transition;

		.icon {
			color: $primary;
			font-size: 1.25rem;
			width: 1.25rem;
			height: 1.25rem;
			margin: auto;
		}

		> div {
			padding: .3rem .6rem;
			border-radius: 4px;
			background: $white;

			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}
	
	.blog-info {
		padding: 20px;

		.blog-title {
			line-height: normal;
			margin: 0 0 10px;

			
			a {
				color: $dark;
				font-size: $blog-size-title;
				font-weight: $font-weight-bold;
				line-height: normal;
				letter-spacing: 0.5px;
				@include truncate(54px, 2);

				&:hover {
					text-decoration: none;
					color: $primary;
				}
			}
		}

		.blog-desc {
			@include truncate(84px, 3);

			p {
				font-size: $blog-size-desc;
				margin: 0;
			}
		}

		.blog-meta {
			&.top-hr {
				margin-top: 1rem;
				padding-top: 1rem;
				border-top: $border-hr;
			}

			.post-date {
				font-size: $blog-size-meta;
				font-weight: 400;
				color: $secondary;
			}

			.post-author {
				.avatar {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					display: inline-block;
					vertical-align: middle;
					overflow: hidden;
				}

				span {
					padding-left: 8px;
					font-size: $blog-size-meta;
					color: $secondary;
					max-width: calc(100% - 54px);
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}