// Images
$dimensions: 16 24 32 48 64 96 128;
$aspect-ratios: (
  (16 9),
  (4 3),
  (1 1),
);
$color-placeholder: $gray-200;

// Transition
$transition: all .3s ease;

// Icons
$icon-base: 1.5rem;
$icon-sm: 1rem;
$icon-md: 2rem;
$icon-lg: 3rem;
$icon-spacing: 0.25em;

// Border
$border-hr: 1px solid $border-color;

// Cards
$blog-size-title: 1.25rem;
$blog-size-desc: 15px;
$blog-size-meta: 14px;
$blog-img-height: 260px;
$blog-img-bg: $gray-300;
$blog-category-size: .75rem;
$blog-category-position: 10px;
$blog-category-padding: .5rem 1rem;
