// Transition
$transition: all .3s ease;

// Shadow
$shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
$shadow-lg: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);

// Icons
$icon-base: 1.5rem;
$icon-sm: 1rem;
$icon-md: 2rem;
$icon-lg: 3rem;
$icon-spacing: 0.25em;

// Cards
$blog-size-title: 1.25rem;
$blog-size-desc: 15px;
$blog-size-meta: 14px;
