@import 'mixins';

// Logo design
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  padding: 0.5rem;
  max-width: 220px;
  margin: auto;

  img {
    width: 2.5rem;
    height: auto;
  }

  h1 {
    line-height: 1;
    margin: 0 0 0 0.75rem;
    max-width: 9rem;
    font-weight: $font-weight-bold;
    color: $dark;
  }
}

// Anchor
a {
  transition: all 0.3s ease-in-out;

  &.noline {
    &,
    &:hover {
      text-decoration: none;
    }
  }

  &.ripple-bg {
    &:hover {
      background-color: rgba($gray-500, 0.15);
    }
  }

  &.anim {
    letter-spacing: 0.6px;
    position: relative;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 1.5px;
      background: $primary;
      transition: ease all 0.3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

// Image
img {
  max-width: 100%;
}

// Heading Anim 
.heading-line {
  display: inline-flex;
  position: relative;

  &:after {
    position: absolute;
    width: 40%;
    height: 2.5px;
    content: "";
    left: 0;
    bottom: -4px;
    background: $primary;
    opacity: 0.8;
  }
}

// Truncate
.truncate {
  @include truncate-one();
}

// Lists
ul {
  &.reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Container
.full-container {
  min-height: 100vh;
  width: 100%;

  .status-code {
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    color: $gray-300;
    font-size: $font-size-base * 8;
  }
  
  .status-titles {
    margin: -4rem auto 1.5rem;
  }
}