@import '../components/parallax-landing';

.section-two {
  // padding: 1.5rem 0;

  > .row {
    &:not(:last-child()) {
      padding-bottom: 2rem;
    }

    > * {
      padding: 1rem 2rem;
    }
  }

  // .image-landing {
  //   max-width: 320px;
  //   margin: auto;
  // }
}

$access-landing-padding: 1rem;
$access-landing-size: 1.5rem;

.fast-access {
  .card {
    width: 100%;
    max-width: 180px;
    margin: .75rem;
    padding: $access-landing-padding;
    border-radius: $border-radius;
    text-align: center;
    border: 3px solid transparent;
    text-decoration: none;
    color: $dark;
    transition: all .75s ease;

    &:hover {
      border: 3px solid $primary;

      i {
        animation: topBottom 0.3s forwards;
      }
    }
  }
  
  .icon-access {
    margin-bottom: .75rem;
    display: inline-block;
    border-radius: 50%;
    padding: $access-landing-size;
    background: rgba($primary, .1);
  }

  i {
    font-size: $access-landing-size;
    width: $access-landing-size;
    height: $access-landing-size;
    color: $dark;
  }
}

// Counter
.counter {
  padding: 20px;
  text-align: center;

  .count {
    color: $black;
    font-weight: $font-weight-bold;
    font-size: 2rem;
    letter-spacing: 1px;
  }

  h3 {
    color: $text-muted;
    letter-spacing: 0.5px;
    font-size: .9rem;
    margin: 0;
  }
}

// Ekstra
.ekstra {
  max-width: 420px;
  margin: 4rem auto 1rem;

  .extra-image {
    background: $white;
    border-radius: $border-radius;
    padding: 4px;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    max-height: 140px;
    margin: 8px;
    text-align: center;
    text-decoration: none;

    &:nth-child(3n+1) {
      margin-top: -60px;
    }

    &:nth-child(3n) {
      margin-top: -30px;
    }
  }

  .title {
    margin-bottom: 12px;
  }
}

// Koperasi
.koperasi {
  margin: 30px auto;

  .data-money {
    background: $white;
  }

  .my-data {
    padding: 20px 20px 0;

    ul {
      margin: 10px 0;
    }

    span {
      background: $white;
    }

    li {
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='16' viewBox='0 0 4 2'%3E %3Ccircle fill='currentColor' cx='1' cy='1' r='1' /%3E %3C/svg%3E") repeat-x top;
      margin: 6px 0;
    }
  }

  .data-money {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    .top {
      text-align: center;
      border-radius: 0 0 20px 20px;
      padding: 26px 0;
      background: $primary;
    }

    .my-money {
      font-size: 1.2rem;
      font-weight: 600;
      color: $white;
    }

    .checkout {
      padding: 5px 20px 20px;
    }
  }
}

// Quotes
.quotes {
  position: relative;
  font-size: $font-size-lg;
  margin: 2rem auto 1rem;
  text-align: center;
  font-family: monospace;
  
  &:before,
  &:after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 5rem;
    color: rgba($secondary, .1);
  }
  
  &:before {
    content: '\f10d';
    left: 0;
    top: -50px;
  }
  
  &:after {
    content: '\f10e';
    right: 0;
    bottom: -30px;
  }

  cite {
    margin-top: 1rem;
    font-size: $font-size-base;
    display: block;
    text-align: center;

    &:before {
      content: '-';
      margin-right: 6px;
    }
  }
}

// Contact
.contact-info {
  max-width: 450px;
  margin: 0 auto;

  .info {
    display: flex;
    align-items: center;

    &:hover {
      .icon {
        background: $primary;
        color: $white;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid rgba($secondary, .2);
    }
  }
  
  .desc > *{
    display: block;
    margin: 0;
  }

  .card {
    .icon {
      padding: 2rem;
      font-size: 1.5rem;
      background: rgba($primary, .1);
      color: $primary;
      margin-right: 1.5rem;
      border-radius: 50%;
      transition: all .3s ease;
    }
  }
}

section {
  padding: 5rem 0;
  position: relative;
  background: white;
  
  &.landing {
    z-index: 2;
  }

  &.second-landing {
    border-top: 7px solid $primary;
  }

  &.bg-gray {
    background: #f2f3f8;
  }
}

// Responsive
@media (max-width: 440px) {
  .ekstra {
    max-width: 400px;

    .extra-image {
      &:nth-child(even) {
        margin-top: -70px;
      }
  
      &:nth-child(odd) {
        margin-top: 10px;
      }
    }
  }
}

// Animation
@keyframes topBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}